# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore all .ipynb files (optional)
# *.ipynb

# Ignore system files
.DS_Store

# Ignore Python cache
__pycache__/
*.pyc

#ignore license and readme
LICENSE
README.md
